.card{
  /* border: 1px solid; */
  padding: 10px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field{
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 25px;
}

.btn{
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
}